@{
    ViewData["Title"] = "Home Page";
}
@using GamerLFG.Models
@{
    
    Lobby l1 = new Lobby()
    {   Game="EldenRing",
        Title = "I am Malenia.Blade of Miquella",
        Description="what da fuck is this chit boss. i stick in this fight for 45 days so pls whoever help me to kill this fucking bitch. thx",
        MaxPlayers=5,
        PlayerIds = new List<string> { "id1", "id2" },
        Moods = new List<string> {"GAY?","Chils"},
        SessionStartTime = DateTime.Now,
        HostId = "Dewwy",
        IsRecruiting = true
    };
    string gamePic = "https://press-start.com.au/wp-content/uploads/2022/02/elden-ring-story-trailer_ccexpress-1314x739.jpeg";

    List<Lobby> myLobbies = new List<Lobby>()
{
    new Lobby()
    {
        Game = "Elden Ring",
        PictureUrl = "https://assetsio.gnwcdn.com/elden-ring-malenia-1.jpg?width=690&quality=85&format=jpg&dpr=1.5&auto=webp",
        Title = "I am Malenia. Blade of Miquella",
        Description = "what da fuck is this chit boss. i stick in this fight for 45 days so pls whoever help me to kill this fucking bitch. thx",
        MaxPlayers = 5,
        PlayerIds = new List<string> { "id1", "id2" },
        Moods = new List<string> {"Hardcore", "Pain"},
        SessionStartTime = DateTime.Now,
        HostId = "Dewwy",
        IsRecruiting = true
    },
    new Lobby()
    {
        Game = "Valorant",
        PictureUrl = "https://cdn1.epicgames.com/offer/cbd5b3d310a54b12bf3fe8c41994174f/EGS_VALORANT_RiotGames_S1_2560x1440-e1dab02ef10e4470a609affcfb8f1a1a",
        Title = "Rank Radiant (In my dreams)",
        Description = "Need a serious smoker. No toxic, just play and call info please.",
        MaxPlayers = 5,
        PlayerIds = new List<string> { "id1", "id2", "id3" },
        Moods = new List<string> {"Serious", "Competitive"},
        SessionStartTime = DateTime.Now.AddMinutes(10),
        HostId = "AimBot",
        IsRecruiting = true
    },
    new Lobby()
    {
        Game = "Genshin Impact",
        PictureUrl = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO9K8jTewegEUTXNfgGeYWx8hztA2Ed4frkA&s",
        Title = "Farm Artifact / Chill Domain",
        Description = "Helping anyone with domains. World level 8. Let's burn some resin.",
        MaxPlayers = 4,
        PlayerIds = new List<string> { "id1", "id2" },
        Moods = new List<string> {"Chill", "Helpful"},
        SessionStartTime = DateTime.Now.AddHours(1),
        HostId = "PaimonEmergencyFood",
        IsRecruiting = true
    },
    new Lobby()
    {
        Game = "Dota 2",
        PictureUrl = "https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota2_social.jpg",
        Title = "Turbo for Fun",
        Description = "Just relax after work. No sweat, no report. IO Carry main here.",
        MaxPlayers = 5,
        PlayerIds = new List<string> { "id1" },
        Moods = new List<string> {"Relax", "Meme"},
        SessionStartTime = DateTime.Now,
        HostId = "MidOrFeed",
        IsRecruiting = true
    },
    new Lobby()
    {
        Game = "Monster Hunter: World",
        PictureUrl = "https://cdn.akamai.steamstatic.com/steam/apps/582010/header.jpg",
        Title = "Fatalis Quest - Pros only",
        Description = "Please bring Lifepowder. Don't die in the first 5 minutes.",
        MaxPlayers = 4,
        PlayerIds = new List<string> { "id1", "id2" },
        Moods = new List<string> {"Extreme", "Pro"},
        SessionStartTime = DateTime.Now.AddMinutes(30),
        HostId = "HunterMaster",
        IsRecruiting = true
    },
};
 List<Lobby> publicLobbies = new List<Lobby>(){
    new Lobby()
    {
        Game = "Minecraft",
        PictureUrl = "https://i.ytimg.com/vi/ouxujq9vrE8/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCbtTUm7z5UkgWp68a1tghgApVyUg",
        Title = "Fresh Survival World",
        Description = "Building a giant castle. No griefing or ban. Come and join!",
        MaxPlayers = 10,
        PlayerIds = new List<string> { "1", "2", "3", "4", "5" },
        Moods = new List<string> {"Creative", "Social"},
        SessionStartTime = DateTime.Now.AddDays(1),
        HostId = "SteveTheBuilder",
        IsRecruiting = true
    },
    new Lobby()
    {
        Game = "Helldivers 2",
        PictureUrl = "https://dl.lnwfile.com/hnnuqw.webp",
        Title = "Spreading Democracy Level 9",
        Description = "For Super Earth! Need a squad for Helldive difficulty.",
        MaxPlayers = 4,
        PlayerIds = new List<string> { "1", "2", "3" },
        Moods = new List<string> {"Action", "Tactical"},
        SessionStartTime = DateTime.Now,
        HostId = "GeneralBrasch",
        IsRecruiting = true
    },
    new Lobby()
    {
        Game = "Among Us",
        PictureUrl = "https://cdn.akamai.steamstatic.com/steam/apps/945360/header.jpg",
        Title = "Hide and Seek - VC",
        Description = "Playing the new hide and seek mode. Funny vibes only.",
        MaxPlayers = 15,
        PlayerIds = new List<string> { "1", "2", "3", "4", "5", "6", "7", "8", "9", "10" },
        Moods = new List<string> {"Funny", "GAY?"},
        SessionStartTime = DateTime.Now.AddMinutes(15),
        HostId = "SussyBaka",
        IsRecruiting = true
    },
    new Lobby()
    {
        Game = "League of Legends",
        PictureUrl = "https://cdn1.epicgames.com/offer/24b9b5e323bc40eea252a10cdd3b2f10/EGS_LeagueofLegends_RiotGames_S1_2560x1440-47eb328eac5ddd63ebd096ded7d0d5ab",
        Title = "ARAM Night",
        Description = "Playing until we win one game. (Might take all night).",
        MaxPlayers = 5,
        PlayerIds = new List<string> { "1", "2", "3", "4" },
        Moods = new List<string> {"Chill", "LowStress"},
        SessionStartTime = DateTime.Now,
        HostId = "yasuo010",
        IsRecruiting = true
    },
    new Lobby()
    {
        Game = "Dark Souls 3",
        PictureUrl = "https://img.online-station.net/_news/2016/0128/89735_DARKSOUL_facebook_mini.jpg",
        Title = "Nameless King... I'm crying",
        Description = "Help me kill this bird man. I can't take it anymore.",
        MaxPlayers = 3,
        PlayerIds = new List<string> { "1" },
        Moods = new List<string> {"Despair", "NeedCarry"},
        SessionStartTime = DateTime.Now,
        HostId = "Ash enOne",
        IsRecruiting = true
    }
};
}



<link rel="stylesheet" href="~/css/home_page.css" asp-append-version="true">

        <main>
        <div class="mobile-search" id="mobile-search">
                <form action="" class="search-form">
                    <input type="text" placeholder="Search.." name="search" class="search-space">
                    <button type="submit"><i class="fa fa-search fa-3x"></i></button>
                </form>
        </div>

            <h3 class="lobby-type" style="color: aliceblue;padding-left:2rem;padding-top:1rem;padding:0;margin:0;">
                <i class="fa fa-gamepad" style="color: #ffa431;"></i>My Lobby</h3>
            
            <div class="all-lob">
            <div class="lobbies">
            @foreach(Lobby lob in myLobbies){
                
                
                <div class=my-lobby>
                <div class="lobby">
                    <div class="game-pic" style="background-image: url('@lob.PictureUrl');">
                        <div class="gname">
                            <p>@lob.Game</p>
                        </div>
                    </div>
                    <div class="host-bar">
                        <div>
                            <i class="fa fa-user-o"></i>
                            <p>Host: @lob.HostId</p>
                        </div>
                        @if(lob.IsRecruiting){
                        <i class="fa fa-circle" style="color: green;"></i> 
                        }
                        else{
                        <i class="fa fa-circle" style="color: red;"></i>    
                        }
                    </div>
                    <h3>@lob.Title</h3>
                    <div class="slots">
                        <div class="icon">
                            @if(lob.MaxPlayers <=10){
                                @for(int i=0;i< lob.MaxPlayers;i++){
                                    @if(i>=lob.CurrentPlayers){
                                    <i class="fa fa-user-o"></i>    
                                    }
                                    else{
                                        <i class="fa fa-user-o" style="color: #ffa431;"></i>  
                                    }
                                    
                                }
                            }
                        </div>
                        <div>
                            <p>@lob.CurrentPlayers/@lob.MaxPlayers SLOTS</p>
                        </div>
                    </div>
                   <div class="tag-game">
                            @foreach (string mood in lob.Moods){
                              <p class="tag-ele">@mood</p>  
                            }
                    </div>
                    <div class="bnt-mylob">
                    <a href="/Lobby/Details/2">
                        <button class="orange-button">MANAGE LOBBY</button> 
                    </a>
                       
                    </div>

                    </div>

                </div>                 
            
            }
            <a asp-controller="Lobby" asp-action="create_lobby">
            <div class="add-lobby">
                <i class="fa fa-plus-circle fa-2x"></i>
                <p>NEW LOBBY</p>
            </div>
            </a>

            </div>


            <h3 class="lobby-type" style="color: aliceblue;padding-left:2rem;padding-top:1rem;padding:0;margin:0;">
                <i class="fa fa-globe" style="color: #ffa431;"></i>Public Feed</h3>

            <div class="lobbies">
                
                @foreach(Lobby lob in publicLobbies){
                <div class="public-lobby">
                <div class="lobby">
                    <div class="game-pic" style="background-image: url('@lob.PictureUrl');">
                        <div class="gname">
                            <p>@lob.Game</p>
                        </div>
                    </div>
                    <div class="host-bar">
                        <div>
                            <i class="fa fa-user-o"></i>
                            <p>Host: @lob.HostId</p>
                        </div>
                        @if(lob.IsRecruiting){
                        <i class="fa fa-circle" style="color: green;"></i> 
                        }
                        else{
                        <i class="fa fa-circle" style="color: red;"></i>    
                        }
                    </div>
                    <h3>@lob.Title</h3>
                    <div class="slots">
                        <div class="icon">
                            @if(lob.MaxPlayers <=10){
                                @for(int i=0;i< lob.MaxPlayers;i++){
                                    @if(i>=lob.CurrentPlayers){
                                    <i class="fa fa-user-o"></i>    
                                    }
                                    else{
                                        <i class="fa fa-user-o" style="color: #ffa431;"></i>  
                                    }
                                    
                                }
                            }
                        </div>
                        <div>
                            <p>@lob.CurrentPlayers/@lob.MaxPlayers SLOTS</p>
                        </div>
                    </div>
                   <div class="tag-game">
                            @foreach (string mood in lob.Moods){
                              <p class="tag-ele">@mood</p>  
                            }
                    </div>
                    <a href="/Lobby/Details/{false}">
                     <button class="orange-button">JOIN LOBBY</button>   
                    </a>
                    

                </div>                 
                </div>
            }                
            </div>
        </div>
        </main>
