@{
    ViewData["Title"] = "Home Page";
}
@using GamerLFG.Models
@{
    
    Lobby l1 = new Lobby()
    {   game="EldenRing",
        title = "I am Malenia.Blade of Miquella",
        description="what da fuck is this chit boss. i stick in this fight for 45 days so pls whoever help me to kill this fucking bitch. thx",
        maxPlayers=5,
        currentPlayers=2,
        moods= new string[] {"GAY?","Chils"},
        scheduleTime = DateTime.Now,
        hostId = "Dewwy"
        
    };
    string gamePic = "https://press-start.com.au/wp-content/uploads/2022/02/elden-ring-story-trailer_ccexpress-1314x739.jpeg";
}


<link rel="stylesheet" href="~/css/home_page.css" asp-append-version="true">
<div class="text-center">
        <main>
        <div class="mobile-search" id="mobile-search">
                <form action="" class="search-form">
                    <input type="text" placeholder="Search.." name="search" class="search-space">
                    <button type="submit"><i class="fa fa-search fa-3x"></i></button>
                </form>
                <h5 style="color: aliceblue;padding-left:2rem;padding-top:1rem;padding:0;margin:0;">My Lobbies</h5>
        </div>  
            <div class="lobbies">
                <div class="lobby">
                    <div class="game-pic" style="background-image: url('@gamePic');">
                        <div class="gname">
                            <p>@l1.game</p>
                        </div>
                        
                    </div>
                    <div class="host-bar">
                        <div>
                            <i class="fa fa-user-o"></i>
                            <p>Host: @l1.hostId</p>
                        </div>
                        <i class="fa fa-circle"></i>
                    </div>
                    <h3>@l1.title</h3>
                    <div class="slots">
                        <div class="icon">
                            @if(l1.maxPlayers <=10){
                                @for(int i=0;i< l1.maxPlayers;i++){
                                    <i class="fa fa-user-o"></i>
                                }
                            }
                        </div>
                        <div>
                            <p>@l1.currentPlayers/@l1.maxPlayers SLOTS</p>
                        </div>
                    </div>
                   <div class="tag-game">
                            @foreach (var mood in l1.moods){
                              <p class="tag-ele">@mood</p>  
                            }
                    </div>
                    <button class="orange-button">JOIN LOBBY</button>

                </div>                 
            </div>

        </main>
        
</div>
