@{
    ViewData["Title"] = "Edit Lobby";
    string[] Moods = {"Chill","Hardcore","Not Toxic","Toxic","Femboy"};
    string[] Games = {
    "Elden Ring NightReign",
    "Monster Hunter: World",
    "Remnant 2",
    "Dark Souls III",
    "Helldivers 2",
    "Baldur's Gate 3",
    "It Takes Two",
    "Lords of the Fallen",
    "Valheim",
    "Palworld",
    "Deep Rock Galactic",
    "Left 4 Dead 2",
    "Stardew Valley",
    "Sea of Thieves",
    "Don't Starve Together",
    "Grand Theft Auto Online",
    "Apex Legends",
    "Warframe",
    "Destiny 2",
    "Minecraft"
    };
}
@using GamerLFG.Services.Interface.DTOs;
@model EditLobbyDTO;

<script>

    const occupiedRoleCounts = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.OccupiedRoleCounts));
    const currentMemberCount = @Model.CurrentMemberCount;
    const initialRoles = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(
        Model.Roles.Select(r => new { name = r.Name, quantity = r.Quantity })
    ));
</script>
<script src="~/js/edit-lobby.js" asp-append-version="true" defer></script>
<link rel="stylesheet" href="~/css/create_lobby.css" asp-append-version="true">

<main>
    <form asp-controller="Lobby" asp-action="EditMission" class="create-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id">
        <div class="title">
            <label for="game">Choose Your Game</label>
            <select asp-for="Game" required
                            asp-items="@(new SelectList(Games))"
                            class="form-control">
                        <option value="">-- เลือกเกม --</option>
                    </select>


            <input asp-for="Title" type="text" placeholder="Lobby title" required>
            <input asp-for="Description" type="text"  placeholder="description" required>
        </div>
        <div>
                    <div id="btn-player-amount">
                        <button type="button" onclick="counting(-1,'min',2,100)" class="org-btn"><i class="fa fa-arrow-left"></i></button>
                        <input type="number" asp-for="MaxPlayers" id="min" min="@Model.CurrentMemberCount" 
                        oninput="this.value = this.value.replace(/[^0-9]/g, ''); if(parseInt(this.value) < currentMemberCount) this.value = currentMemberCount;"
                        style="background-color: aliceblue;padding:1rem;font-size:large;max-width:5rem;"
                        >

                        <button type="button" onclick="counting(1,'min',2,100)" class="org-btn"><i class="fa fa-arrow-right"></i></button>
                    </div>
        </div>

        <div class="require">
            <p id="re-text-1">PERSONAL REQUIREMENTS</p>
            <p id="re-text-2">ASSIGN SPASIFIC ROLES FOR THE SQUAD</p>

            <div class="input-role">
                <input type="text" placeholder="Role Assign" id="key-role">
                <input type="text" id="count" value="1" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                <div id="add-count-btn">
                    <button type="button" onclick="editCounting(1,'count')"><i class="fa fa-arrow-up"></i></button>
                    <button type="button" onclick="editCounting(-1,'count')"><i class="fa fa-arrow-down"></i></button>
                </div>
                 <button onclick="addEditRole()" id="add-role-btn" type="button"><strong>ADD ROLE</strong></button>
            </div>
        <div id="roles-added"></div>

        <div id="roles-hidden-container"></div>
        </div>

        <div class="mood-select">
            <p>TACTICAL PROTOCAL TAGS</p>
            <div class=moods>
                @foreach(string mood in Moods){
                <input type="checkbox" name="Moods" id="mood-@mood" value="@mood" class="check-box"
                    @(Model.Moods != null && Model.Moods.Contains(mood) ? "checked" : "")>
                <label class="mood-label" for="mood-@mood">@mood</label>
            }
            </div>

        </div>
        <div class="wallpaper">
            <p>Tactical Visuals</p>
            <input type="text" placeholder="Direct Image URL" asp-for="Picture">
        </div>
        <div class="discord">
            <p>Discord Link</p>
            <input type="text" placeholder="discord" asp-for="DiscordLink">

        </div>

        <div class="date">
            <label for="start" class="datetime-local">
                <div class="calendar">
                 Open Recruit Date <i class="fa fa-calendar"></i>
                </div>

               <input type="datetime-local" onclick="this.showPicker()" onchange="checkTimeInput()" class="input-date" id="start" asp-for="StartRecruiting">
            </label>
             <label for="end" class="datetime-local">
                <div class="calendar">
                  Close Recruit Date <i class="fa fa-calendar"></i>
                </div>

              <input type="datetime-local" onclick="this.showPicker()" onchange="checkTimeInput()" class="input-date" id="end" asp-for="EndRecruiting">

             </label>
            <label for="start-e" class="datetime-local">
                <div class="calendar">
                  Start Event Date <i class="fa fa-calendar"></i>
                </div>

              <input type="datetime-local" onclick="this.showPicker()" onchange="checkTimeInput()" class="input-date" id="start-e" asp-for="StartEvent">
             </label>

             <label for="end-e" class="datetime-local">
                <div class="calendar">
                  End Event Date <i class="fa fa-calendar"></i>
                </div>

              <input type="datetime-local" onclick="this.showPicker()" class="input-date" onchange="checkTimeInput()" id="end-e" asp-for="EndEvent">
             </label>
        </div>

        <button class="orange-button">
            SAVE CHANGES
        </button>
    </form>
</main>
